<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Natureza</title>
    <link rel="stylesheet" href="../pages/VisualStyle.css" />
    <link rel="shortcut icon" href="../pages/img/ANSELMO.png" type="image/x-icon">
  
  </head>
  <body>
    <nav>
      <div class="ajust-nav"> <img src="../pages/img/Eu4.jpeg"  /></div>
      <div class="yper">
        <a href="../index.html">HOME</a>
        <a href="../ Natureza.html">VOLTAR</a>
      </div>
    </nav>

    <section class="banner" id="Skil">
      
    </section>
  </body>
</html>
