<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tecnico</title>
    <link rel="stylesheet" href="../pages/VisualStyle.css" />
    <link rel="shortcut icon" href="../pages/img/ANSELMO.png" type="image/x-icon">
    <link rel="stylesheet" href="./Carrosel.css">
  
  </head>
  <body>
    <nav>
      <div class="ajust-nav"> <img src="./img/Eu.jpeg"  /></div>
      <div class="yper">
        <a href="../index.html">HOME</a>
        <a href="../Tecnico.html">VOLTAR</a>
      </div>
    </nav>

    <section class="carrosel-container">
      
      <div id="1" class="carrosel img1" >
        <img src="./img/botao-quadrado-preto-de-seta-para-a-direita.png" alt="seta esquerda" class="opacity setaesquerda" onclick="slideBackward()">
        <div class="card">
          <h2 class="titleatv"></h2>
          
          <h2 class="text">  Diagrama de Casos de Uso da SA </h2>
          
          <a href="https://lucid.app/lucidchart/6cb330d9-6e06-4d82-a718-704e23d878df/edit?viewport_loc=-135%2C39%2C3360%2C1578%2C0_0&invitationId=inv_c37d6827-abf6-402b-86cc-8b3e4e6ccdaa" class="cor-texto4">Saiba mais</a>
        </div>
        <img src="./img/botao-quadrado-preto-de-seta-para-a-direita.png" alt="seta direita" class="setadireita" onclick="slideForward()">

        </div>
        <div id="2" class="carrosel img2 none" >
          <img src="./img/botao-quadrado-preto-de-seta-para-a-direita.png" alt="seta esquerda setaesquerda" onclick="slideBackward()">
          <div class="card">
              <h2 class="titleatv"></h2>
              <h2 class="text">Diagrama de Classe da SA</h2>
              <a href="https://lucid.app/lucidchart/71a0d615-6c93-4736-aaa6-9dc210997f68/edit?view_items=-OHw1sBdMjSB&invitationId=inv_6570afd9-31f2-4c61-951e-80d5ba3f40f7"  class="cor-texto4">Saiba mais</a>
          </div>
        
          <img src="./img/botao-quadrado-preto-de-seta-para-a-direita.png" alt="seta direita" class="setadireita"  onclick="slideForward()">
        </div>
        
        <div id="3" class="carrosel img3 none" >
          <img src="./img/botao-quadrado-preto-de-seta-para-a-direita.png" alt="seta esquerda" onclick="slideBackward()">
          <div class="card">
              <h2 class="titleatv"></h2>
              <h2 class="text">Calculadora POO</h2>
              <a href="https://6423901008d3972ad8c05a32--calculadoraoopvelocidademedia.netlify.app/" class="cor-texto4">Saiba mais</a>
          </div>
          
          <img src="./img/botao-quadrado-preto-de-seta-para-a-direita.png" alt="seta direita setaesquerda"  onclick="slideForward()">
        </div>

        <div id="4" class="carrosel img4 none">
          <img src="./img/botao-quadrado-preto-de-seta-para-a-direita.png" alt="seta esquerda" class="setaesquerda" onclick="slideBackward()">
          <div class="card">
              <h2 class="titleatv"></h2>
              <h2 class="text">Revisão Poo</h2>
              <a href="https://github.com/Anselmo5/Revi-oPoo" class="cor-texto4">Saiba mais</a>
          </div>
          
          <img src="./img/botao-quadrado-preto-de-seta-para-a-direita.png" alt="seta direita" class="opacity setadireita"   onclick="slideForward()">
        </div>        
    </section>


    <script src="./Controller.js"></script>

    

  </body>
</html>
