@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300&display=swap');

html {
  overflow-y: scroll;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  overflow-y: visible;
  position: relative;
  font-family: "Euclid Circular A", "Poppins";
  text-align: center;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
}

.container {
  width: 200%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  background:#dfdfdf;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain; 
}

img:hover{
  transform: scale(1.1);
}

.banner h2,
.footer h2 {
  margin: 20px 0;
  font-family: 'Lora', serif;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 16px;
  background: #0D1D25;
  box-shadow: 0 0 20px rgb(0 0 0 / 8%);
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  font-size: 14px;
  transition: all 0.8s;
  font-family: 'Poppins', sans-serif;
}

nav a:hover {
  
  color:#ff0623;
  transition: transform 1s;
  transform: translateY(-10px);

}


nav img {
  width: 32px;
  height: 32px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 80px;
}

h2 {
  margin: 50px 0 20px;
  font-family: 'Lora', serif;
  color: #fff;
}

p {
  opacity: 0.66;
  font-size: 16px;
  font-family: 'Lora', serif;
  color: #fff;
}

.panel h2{
  color: #222222;
}

.panel p{
  color: #222222;
}


.banner {
  flex-direction: row;
  text-align: left;
  gap: 30px;
  background:#00111A;
}

.footer {
 background:#00111A ;
}


.container .panel:nth-child(odd) {
  background:#ffffff;
}

.active{
  color:#ff0623;
  text-decoration: none;
}

.active-tec a:hover{
  transition: transform 1s;
  transform: translateY(-10px);
}

.aling img{
  border-radius: 300px;
  }
  
  .midia2 img{
    margin-top: -80px;
    width: 50px;
    transition: all 1s;
  }

  .midia2 a{
    text-decoration: none;
  }
  
  .midia2 img:hover{
    transition: transform 1s;
    transform: translateY(-10px);
  
  }
  
  .midias a{
    text-decoration: none;
  }

  .midias img{
    height: 100px;
    width: 50px;
    padding: 5px;
    transition: all 1s;
  }
  
  .midias img:hover{
    transition: transform 1s;
    transform: translateY(-10px);
  
  }

  .aling-bds{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .formgit img{
    border-radius: 200px;
  }

  .panel{
  width: 100%;
  height: 100%;
  }

  .NA img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


.UNILINK:hover {
  color: rgba(22, 199, 199, 0.89);
  transition: all 0.5s ;
  
 
}


  .UNILINK{
    text-decoration: none;
    opacity: 0.66;
    font-size: 16px;
    font-family: 'Lora', serif;
    color: #222222;
    transition: all 0.5s;
  }

  .HU img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .MA img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .LI img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .TC img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:cover ;
  }

  .btn{
    padding: 5px;
    width: 100px;
    margin-right: 1px;
    box-shadow:0px 2px 0px #222222;
    transition: all 1s;
    border-radius: 3px;
    border: none;
    width: 150px;
    height: 30px;
  }

  .btn a{
    text-decoration: none;
    color: #222222;
  }

  .btn a:hover{
    color: #fff;
    padding: 5px;

  }

  .btn:hover{
    background: #222222;
    color: #fff;
    padding: 5px;
    box-shadow: 0px 2px 0px #7a7676;
  }



.ajust img{
  width: 400px;
  height: 350px;
}

.ajust p{
  color: #222222;
}

.ajust-imagem img{
  border-radius: 100px;
  margin-top: 100px;
}

.ajust-nav img{
  border-radius:100px;
 
}

/* Responsividade */

@media screen and (max-width: 729px) {
  p{
    font-size: 12px;
  }
  .midia2 img:hover{
    transition: none;
    transform: none;
  }

  .midias img:hover{
    transition: none;
    transform: none;
  }

  img:hover{
    transition: none;
    transform: none;
  }
  .ajust{
    margin-bottom: 20px;
  }
  

  .btn a{
    text-decoration: none;
    color: #222222;
  }

  .btn a:hover{
    color: none;
    padding: 5px;

  }

  .btn:hover{
    background:none;
    color:none;
    padding:none;
    box-shadow: none;
  }
}

@media screen and (max-width: 632px) {
  a{
    font-size: 12px ;
  }


}