<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linguagem</title>
    <link rel="stylesheet" href="../Model/styles.css" />
    <link rel="shortcut icon" href="../img/ANSELMO.png" type="image/x-icon">
  
  </head>
  <body>
    <nav>
      <div class="ajust-nav"> <img src="../img/EU4.jpeg"  /></div>
      <div class="yper">
        <a href="./index.html">HOME</a>
        <a href="./ Natureza.html"> NATUREZA </a>
        <a href="./Humanas.html">HUMANAS</a>
        <a href="./Matematica.html">MATEMATICA</a>
        <a href="#" class="active">LINGUAGNS</a>
        <a href="./Tecnico.html">TECNICO</a>
      </div>
    </nav>
    <section class="banner" id="Skil">
      <div>
        <h2>Linguagem</h2>
      </div>
      <img src="../img/07092708_9064_GDO.png" />
    </section>

    <div class="container">
      <section class="description panel blue">
        <img src="../img/html.png" />
        <h2>HTML</h2>
        <p>
          linguagem De Marcação Que Foi O Meu Primeiro Contato Com O Desenvolvimento Web
        </p>
      </section>

      <section class="panel red">

        <img src="../img/css.png" />
        <h2>CSS</h2>
        <p>
          Folha De Estilo Onde Podemos Realizar A Conficuração Visual Do Nosso Desenvolvimento Web
        </p>
      </section>



      <section class="panel ">

        <img src="../img/javascript.png" />
        <h2>Javaescript</h2>
        <p>
          A Primeira Linguagem de Programação Que Eu Tive Contato, Onde Com Ela Pude Contruir A Minha logica No Desenvolvimento Web
        </p>
      </section>


      <section class="panel ">

        <img src="../img/react.png" />
        <h2>React</h2>
        <p>
          A Primeira Biblioteca Javaescript Que Eu Tive Contato, Pelo Meu Proprio Interese E Fontade
        </p>
      </section>

      <section class="panel ">

        <img src="../img/react.png" />
        <h2>React Native</h2>
        <p>
          Biblioteca Javaescript Para Contruirmos Apps(Androids,Ios)
        </p>
      </section>
      <section class="panel ">

        <img src="../img/Node.png" />
        <h2>Services</h2>
        <p>
          Motor De Funcionamento Da Linguagem Javaescript
        </p>
      </section>
    </div>

    <section class="footer">
      <img src="../img/github.png" />
      <h2>My Contatos</h2>
      <div class="midias">
        <p>
            <a href="https://github.com/Anselmo5" target="_blank">
              <img src="https://i.pinimg.com/originals/b5/1b/78/b51b78ecc9e5711274931774e433b5e6.png" />
              </a>
              <a href="https://www.instagram.com/anselmo_henrique02/?next=%2F" target="_blank">
              <img src="https://play-lh.googleusercontent.com/VRMWkE5p3CkWhJs6nv-9ZsLAs1QOg5ob1_3qg-rckwYW7yp1fMrYZqnEFpk0IoVP4LM" />
              </a>
              <a href="https://www.linkedin.com/in/anselmo-henrique-266647233/" target="_blank">
              <img src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" />
              </a>
      
        </p>
        </div>

        <div class="midia2">
        <div class="aling-bds">
            <a href="https://skillicons.dev" target="_blank">
            <img src="https://skillicons.dev/icons?i=git" />
            <img src="https://skillicons.dev/icons?i=linux" />
            <img src="https://skillicons.dev/icons?i=github" />
            <img src="https://skillicons.dev/icons?i=linkedin" />
            <img src="https://skillicons.dev/icons?i=html" />
            <img src="https://skillicons.dev/icons?i=css" />
            <img src="https://skillicons.dev/icons?i=javascript"/>
            <img src="https://skillicons.dev/icons?i=react" />
            <img src="https://skillicons.dev/icons?i=typescript" />
            <img src="https://skillicons.dev/icons?i=nodejs" />
          </a>
        </div>
        </div>
    </section>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
      integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
      integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../Controller/main.js"></script>
  </body>
</html>
