<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horizontal Scroll</title>
    <link rel="stylesheet" href="../Model/styles.css" />
    <link rel="shortcut icon" href="../img/ANSELMO.png" type="image/x-icon">
  
  </head>
  <body>
    <nav>
      <img src="../img/WhatsApp Image 2023-04-02 at 13.33.29 (1).jpeg" />
      <div class="yper">
        <a href="./index.html"> Home </a>
        <a href="./Sobre.html"> Sobre </a>
        <a href="#" class="active"> Materias </a>
      </div>
    </nav>
    <section class="banner">
      <div>
        <h2>Welcome</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
      <img src="../img/WhatsApp Image 2023-04-02 at 13.33.29 (2).jpeg" />
    </section>

      <section class="NA">
          <h2>NATUREZA</h2>
          <button class="btn"><a href="./ Natureza.html">CLICK</a></button>
      </section>

      <section class="HU">
        <h2>HUMANAS</h2>
        <button class="btn"><a href="./Humanas.html">CLICK</a></button>
    </section>

    <section class="MA">
      <h2>MATEMATICA</h2>
      <button class="btn"><a href="./Matematica.html">CLICK</a></button>
  </section>

  <section class="LI">
    <h2>LINGUAGNS</h2>
    <button class="btn"><a href="./linguagem.html">CLICK</a></button>
</section>

<section class="TC">
  <h2>TECNICO</h2>
  <button class="btn"><a href="./linguagem.html">CLICK</a></button>
</section>



  
    
    <script src="../Controller/main.js"></script>
  </body>
</html>
