<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Materias</title>
    <link rel="stylesheet" href="../Model/styles.css" />
    <link rel="shortcut icon" href="../img/ANSELMO.png" type="image/x-icon">
  
  </head>
  <body>
    <nav>
      <img src="../img/WhatsApp Image 2023-04-02 at 13.33.29 (1).jpeg" />
      <div class="yper">
        <a href="./index.html"> Home </a>
        <a href="./Sobre.html"> Sobre </a>
        <a href="#" class="active"> Materias </a>
      </div>
    </nav>
    <section class="banner">
      <div>
        <h2>Welcome</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
      <img src="../img/WhatsApp Image 2023-04-02 at 13.33.29 (2).jpeg" />
    </section>

      <section class="NA" style="background-image: url(../img/92e1f4_877f9b2b5c0543afbf9e6cc9e7ffee11_mv2.webp);">
          <button class="btn"><a href="./ Natureza.html">CLICK</a></button>
      </section>

      <section class="HU" style="background-image: url(../img/ciencias-humanas-e-suas-tecnologias-og.webp);">
        <button class="btn"><a href="./Humanas.html">CLICK</a></button>
    </section>

    <section class="MA" style="background-image:url(../img/YOUTZ-MATEMATICA-ENEM.jpg);" >
      <button class="btn"><a href="./Matematica.html">CLICK</a></button>
  </section>

  <section class="LI" style="background-image: url(../img/07092708_9064_GDO.png);">
    <button class="btn"><a href="./linguagem.html">CLICK</a></button>
</section>

<section class="TC" style="background-image: url(../img/download.png);">
  <button class="btn"><a href="./linguagem.html">CLICK</a></button>
</section>



  
    
    <script src="../Controller/main.js"></script>
  </body>
</html>
