<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horizontal Scroll</title>
    <link rel="stylesheet" href="../Model/styles.css" />
  
  </head>
  <body>
    <nav>
      <img src="../img/WhatsApp Image 2023-04-02 at 13.33.29 (1).jpeg" />
      <div class="yper">
        <a href="./index.html"> Home </a>
        <a href="./Sobre.html"> Sobre </a>
        <a href="#" class="active"> Materias </a>
      </div>
    </nav>
    <section class="banner">
      <div>
        <h2>Welcome</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
      <img src="../img/WhatsApp Image 2023-04-02 at 13.33.29 (2).jpeg" />
    </section>

    <div class="container">
      <section class="description panel blue">
        <img src="../img/html.png" />
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore
          eius cum perferendis consectetur culpa laboriosam quam, sed ea nihil,
          suscipit, quidem est expedita. Nihil enim obcaecati deleniti eaque
          sed.
        </p>
      </section>

      <section class="panel red">

        <img src="../img/css.png" />
        <h2>Services</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore
          eius cum perferendis consectetur culpa laboriosam quam, sed ea nihil,
          suscipit, quidem est expedita. Nihil enim obcaecati deleniti eaque
          sed.
        </p>
      </section>



      <section class="panel ">

        <img src="../img/javascript.png" />
        <h2>Services</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore
          eius cum perferendis consectetur culpa laboriosam quam, sed ea nihil,
          suscipit, quidem est expedita. Nihil enim obcaecati deleniti eaque
          sed.
        </p>
      </section>


      <section class="panel ">

        <img src="../img/react.png" />
        <h2>Services</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore
          eius cum perferendis consectetur culpa laboriosam quam, sed ea nihil,
          suscipit, quidem est expedita. Nihil enim obcaecati deleniti eaque
          sed.
        </p>
      </section>

      <section class="panel ">

        <img src="../img/react.png" />
        <h2>Services</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore
          eius cum perferendis consectetur culpa laboriosam quam, sed ea nihil,
          suscipit, quidem est expedita. Nihil enim obcaecati deleniti eaque
          sed.
        </p>
      </section>

    </div>
    <section class="footer">
      <img src="6.svg" />
      <h2>Get A Quote</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi labore
        eius cum perferendis consectetur culpa laboriosam quam, sed ea nihil,
        suscipit, quidem est expedita. Nihil enim obcaecati deleniti eaque sed.
      </p>
    </section>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
      integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
      integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../Controller/main.js"></script>
  </body>
</html>
