<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
    <link rel="stylesheet" href="../Model/styles.css" />
    <link rel="shortcut icon" href="../img/ANSELMO.png" type="image/x-icon">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
  
  </head>
  <body>
    <nav>
      <div class="ajust-nav"> <img src="../img/Eu4.jpeg"  /></div>
      <div class="yper" id="myyper">
        <a href="./index.html" > Home </a>
        <a href="#  " class="icon" onclick="myFunction()">
          <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </a>
       
      </div>
    </nav>
    <section class="banner">
      <div>
        <h2>Fala Galera</h2>
        <p>Venham conhecer um pouco da minha historia</p>
      </div>
    </section>

    <section>
      <div class="ajust2">
        <img src="../img/download.png" alt="" >
        <img src="../img/download.png" alt="" >
        <img src="../img/download.png" alt="" >
        <p>Esses São os meus mais recentes projetos</p>
        <a href="https://github.com/Anselmo5/Ferias/tree/main/Projetos/Retomada/site-calculadora" target="_blank"> CalcCode</a>
        <a href="https://github.com/Anselmo5/Ferias/tree/main/Projetos/Todo-list/Lista-Tarefa" target="_blank">Todo-List</a>
        <a href="https://github.com/Anselmo5/CursoReact/tree/main/Projetos/Miniblog" target="_blank">Mini-Blog</a>
        <a href="https://6423901008d3972ad8c05a32--calculadoraoopvelocidademedia.netlify.app/" target="_blank">CalculadoraPoo</a>
      </div>
    </section>
    
    <script src="../Controller/main.js"></script>
  </body>
</html>
