<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
    <link rel="stylesheet" href="../Model/styles.css" />
    <link rel="shortcut icon" href="../img/ANSELMO.png" type="image/x-icon">
  
  </head>
  <body>
    <nav>
      <div class="ajust-nav"> <img src="../img/Eu4.jpeg"  /></div>
      <div class="yper">
        <a href="./index.html"> Home </a>
        <a href="#" class="active"> Sobre </a>
        <a href="./materias.html"> Materias </a>
      </div>
    </nav>
    <section class="banner">
      <div>
        <h2>Fala Galera</h2>
        <p>Venham conhecer um pouco da minha historia</p>
      </div>
    </section>

    <section>
      <div class="ajust">
        <img src="../img/EU2.jpeg" alt="" >
        <p>deixem-me apresentar adequadamente, Eu me chamo Anselmo Henrique, sou um adolescente de dezessete anos cristão, aos meus tempos livres eu sou tecladista, sonoplasta, cara do slide, e às vezes quando necessário sou técnico de ar-condicionado, o momento que eu mais contemplo e quando posso tirar um momento em família com a minha mãe, e com certeza o que eu e minha família mais gostamos de fazer é adorar a Deus e agradecê-lo pela oportunidade que ele tem nós da do.</p>
      </div>
    </section>
    
    <script src="../Controller/main.js"></script>
  </body>
</html>
