<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanks</title>
    <link rel="stylesheet" href="../Model/styles.css" />
    <link rel="shortcut icon" href="../img/ANSELMO.png" type="image/x-icon">
  
  </head>
  <body>
    <nav>
      <div class="ajust-nav"> <img src="../img/EU4.jpeg"  /></div>
      <div class="yper">
        <a href="#" class="active"> Froent-Joe </a>
        <a href="./index.html"> Home </a>
      </div>
    </nav>
    <section class="banner">
      <div>
        <h2>Thanks</h2>
        <p>Muito Obrigado Pela Ajuda</p>
      </div>
      <img src="../img/QKF5.gif">
    </section>

    <section>
      <img src="../img/59584407 (1).png">
      <div class="midias">
        <p>
            <a href="https://github.com/frontend-joe" target="_blank">
              <img src="https://i.pinimg.com/originals/b5/1b/78/b51b78ecc9e5711274931774e433b5e6.png" />
              </a>
              <a href="https://www.instagram.com/frontendjoe/" target="_blank">
              <img src="https://play-lh.googleusercontent.com/VRMWkE5p3CkWhJs6nv-9ZsLAs1QOg5ob1_3qg-rckwYW7yp1fMrYZqnEFpk0IoVP4LM" />
              </a>
        </p>
        </div>
      <p>Eu Gostaria De fazer A Menção E Também Agradecê Ao Joe Que Foi A Pessoa Que Tanto Me Expirou Para Poder Fazer Esse Parrallax, Onde Pelo Github e Pelo Instagram Pude Ver Seu Projeto</p>
    </section>
    
    <script src="../Controller/main.js"></script>
  </body>
</html>
